html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

p {
    margin:  10px 0;
    font-size: 20px;
    line-height: 1.5;
    font-size: 12pt;
}

a,
a:visited { 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 300px;
}

.intro {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.box1 {
    flex: 1 1 100px;
}

.box2 {
    flex: 1 1 600px;
}

.box3 img {
    flex: 1 1 250px;
}

.source {
    margin: 5px;
    font-size: 10pt;
}

div p:first-child {
    margin-top: 0;
}

div p:last-child {
    margin-bottom: 0;
}

.callout,
.step > div {
    padding: 20px;
    border: 1px solid #D7D7D7;
    background-color: rgba(215, 215, 215, .12);
}

.callout p {
    font-size: 10pt;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

span {
    flex: 0 1 80px;
    text-transform: uppercase;
    font-style: italic;
    text-align: right;
    padding-right: 20px;
}

.quote p {
    border-left: 2px solid #D7D7D7;
    flex: 1 0 200px;
    font-size: 10pt;
    padding-left: 20px;
}

.content {
    margin: auto 0;
}

.outro {
    max-width: 500px;
    padding: 20px;
    margin-bottom: 200px
}

/* all scrolling positions set to relative */
#scroll {
    position: relative;
}

#chart {
    /* background-color: blanchedalmond; */
}

/* set scroll graphic to absolute and lock in the position */
.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    z-index: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* remain fixed when inside the "sticky" area */
.scroll__graphic.is-fixed {
    position: sticky;
}

/* when at bottom of "sticky" area section, remove fixed position */
.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.scroll__text {
    padding: 0 1rem;
    max-width: 30rem;
    margin-top: -700px;
}

.step {
    opacity: 0.5;
    padding: 1rem;
    /* background-color: lightgray; */
    /* border: 1px solid gray; */
    max-width: 800px;
    height: 300px;
    margin: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.step.is-active {
    opacity: 1;
    z-index: 500;
}

.scroll__graphic #chart {
    position: absolute;
    z-index: 0;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.step p {
    margin: 0 auto;
    /* height: 300px; */
    /* background-color: white; */
}

.step h3 {
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    .intro {
        display: block;
    }

    .box1 {
        margin-bottom: 10px;
    }

    p {
        line-height: 1.3;
    }

}
