html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

body {
    padding: 30px 20px;
}

p {
    font-size: 12pt;
    line-height: 1.5;
    margin: 10px 0;
}

/* all scrolling positions set to relative */
#scroll {
    position: relative;
}

#chart {
    background-color: blanchedalmond;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

span {
    flex: 0 1 80px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}

.quote p {
    border-left: 2px solid #D7D7D7;
    flex: 0 1 500px;
    font-size: 10pt;
    padding-left: 20px;
}

#scroll .quote p {
    flex: 0 1 250px;
}

.content {
    margin: auto 0;
}

.intro, .outro {
    display: grid;
    grid-template-columns: 1fr minmax(150px, 35%)
}

.right {
    padding: 20px;
    border: 1px solid #D7D7D7;
    background-color: rgba(215, 215, 215, .12);
    margin: 0 50px;
    max-height: 50%;
}

.right blockquote {
    font-size: 10pt;
    text-align: center;
}

.outro {
    /* max-width: 500px; */
    padding: 20px;
    /* margin-bottom: 50px */
}

/* set scroll graphic to absolute and lock in the position */
.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    z-index: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* remain fixed when inside the "sticky" area */
.scroll__graphic.is-fixed {
    position: sticky;
}

/* when at bottom of "sticky" area section, remove fixed position */
.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.scroll__text {
    padding: 0 1rem;
    max-width: 30rem;
}

.step {
    opacity: 0.5;
    padding: 1rem;
    /* background-color: lightgray; */
    border: 1px solid gray;
    max-width: 800px;
    /* height: 200px; */
    margin: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.step.is-active {
    opacity: 1;
    z-index: 500;
}

.scroll__graphic #chart {
    position: absolute;
    z-index: 0;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.step p {
    margin: 0 auto;
    /* height: 300px; */
    background-color: white;
}

.cell {
    width: 3.7mm;
    min-width: 3.7mm;
    max-width: 3.7mm;
    display: inline-block;
    font-size: 16pt;
    margin: 3.8mm 1.7mm;
}
