html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

p {
    margin:  10px 0;
    line-height: 1.5;
    font-size: 12pt;
}

a,
a:visited { 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 300px;
}

h1 {
    padding: 0 20px;
}

.intro,
.outro {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.box1 {
    flex: 1 1 100px;
}

.box2 {
    flex: 1 1 600px;
}

.box3 img {
    flex: 1 1 250px;
}

.source {
    margin: 5px;
    font-size: 10pt;
}

div p:first-child {
    margin-top: 0;
}

div p:last-child {
    margin-bottom: 0;
}

.callout,
.step > div {
    padding: 20px;
    border: 1px solid #D7D7D7;
    background-color: #FAFBFC;
}

.callout p {
    font-size: 10pt;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

}

.quote span {
    flex: 0 1 25px;
    text-transform: uppercase;
    font-style: italic;
    text-align: right;
    padding-right: 20px;
}

.quote p {
    border-left: 2px solid #FAFBFC;
    flex: 1 0 50px;
    font-size: 10pt;
    padding-left: 20px;
}

.content {
    margin: auto 0;
}

/* all scrolling positions set to relative */
#scroll {
    position: relative;
}

#chart {
    /* background-color: blanchedalmond; */
}

/* set scroll graphic to absolute and lock in the position */
.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    z-index: 0;
    /* -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); */
}

/* remain fixed when inside the "sticky" area */
.scroll__graphic.is-fixed {
    position: sticky;
}

/* when at bottom of "sticky" area section, remove fixed position */
.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.scroll__text {
    padding: 0 1rem;
    max-width: 30rem;
    transform: translateY(-37%);
    -moz-transform: translateY(-37%);
    -webkit-transform: translateY(-37%);
}

.step {
    opacity: 0.5;
    padding: 1rem;
    max-width: 800px;
    max-height: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.step.is-active {
    opacity: 1;
    z-index: 500;
}

.scroll__graphic #chart {
    position: absolute;
    z-index: 0;
    right: 1rem;
    top: 0;
    -moz-transform: translateY(25%);
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
}

.step p {
    margin: 0 auto;
    /* height: 300px; */
    /* background-color: white; */
}

.step h3 {
    margin-top: 0;
}

.dashed{
    stroke-dasharray: 5,5; 
}

@media screen and (max-width: 800px) {

    body {
        padding: 0;
    }

    p {
        line-height: 1.2;
        font-size: 10pt;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .intro,
    .outro {
        display: block;
    }

    .box1 {
        margin-bottom: 10px;
    }

    .box3 {
        text-align: center;
    }

    .step {
        padding: 0;
        margin-top: 20px;
    }

    .quote {
        /* flex-direction: column; */
        font-size: 9pt;
    }

    .quote span {
        writing-mode: vertical-lr;
        text-orientation: sideways;
        padding: 0;
    }

    .quote p {
        padding: 10px;
    }

    .callout {
        margin-bottom: 20px;
    }

    ul.callout {
        margin-bottom: 0;
    }

    /*New */

    .scroll__graphic.is-fixed {
        position: fixed;
        bottom: 0;
        top: auto;
        z-index: 100;
    }

    .scroll__graphic {
        position: fixed; 
        bottom: 0;
        top: auto;
    }

    .scroll__graphic #chart {
        right: 0;
        bottom: 0;
        top: auto;
    }

    .scroll__text {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        z-index: -1;
    }

    .step {
        z-index: -2;
        max-height: 60%;
    }

    .outro {
        -moz-transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
        margin-bottom: 300px
    }

    #chart {
        background-color: #FAFBFC;
        z-index: 600;
    }

    .step.is-active {
        z-index: -100;
    }


    /* all scrolling positions set to relative */
    /* #scroll {
        position: relative;
        margin: 0 auto;
    }
    
    .scroll__graphic {
        position: absolute;
        width: 100%;
        z-index: -1;
    }


    .scroll__graphic.is-bottom {
        bottom: 0;
        top: auto;
    }
    
    .scroll__text {
        padding: 0;
    }
    
    .step {
        opacity: 0.5;
        margin-top: 80px;
        margin-bottom: 80px;
        margin: 0;
    } */
}
